<!DOCTYPE html>
 {% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obrando en ti</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static './css/styles.css' %}" >

</head>
<body>
 
      <!--ENCABEZADO + LINKS-->
  <header class="row" style="background-color: #22445c;">
    <nav class="navbar col-4 me-4">
      <div class="container-fluid">
        <a class="navbar-brand text-light ms-5" href="#">
          <img src="{% static 'Logo.jpg' %}" alt="Logo" width="100" height="80"
            class="d-inline-block align-text-top rounded-circle border border-1">
          Fundacion "Obrando en ti"
        </a>
      </div>
    </nav>

  <nav class="col me-4 mt-3 mb-3">
      <ul class="nav nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-light" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/sumate">Sumate</a>
        </li>
        
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-light" href="logout">Desconectar</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-light" href="login">Acceder</a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link text-info" href="#">Posteos</a>
        </li>
      </ul>
    </nav>
  </header>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

</body>
</html>